<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi </h1>
    <p>
      There is a request to access the application Deployment Directory from <%=User.last.name%>.<br>
    </p>
  </body>
</html>