<br/>
<footer class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom">
      <p class="copyright text-muted text-center">©&nbsp;Jifflenow 2019. All rights reserved</p>
  </nav>
</footer>